<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322910427731-pnp66afb69p3a9kua7cf161j1inagmh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322910427731-pnp66afb69p3a9kua7cf161j1inagmh7</string>
	<key>API_KEY</key>
	<string>AIzaSyA8fU3eRR5eMDchns-zE_lToLY-rQZaPEY</string>
	<key>GCM_SENDER_ID</key>
	<string>322910427731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lexrlabs.bunnyrun</string>
	<key>PROJECT_ID</key>
	<string>bunny-run-ar</string>
	<key>STORAGE_BUCKET</key>
	<string>bunny-run-ar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322910427731:ios:1bb8ab26dbca24631844a6</string>
	<key>DATABASE_URL</key>
	<string>https://bunny-run-ar.firebaseio.com</string>
</dict>
</plist>